h1, p, body { /* Zajištění viditelnosti textu */
    color: white;
    position: relative; 
    z-index: 10;
}

.background-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000; 
  overflow: hidden; 
  z-index: -1; /* Klíčové pro umístění pod obsahem */
}

.blob {
  position: absolute;
  border-radius: 50%; 
  opacity: 0.8; 
  filter: blur(120px); 
}

.blob-1 {
  width: 500px;
  height: 150px;
  background-color: #00ff80; 
  top: 10%;
  left: 15%;
}

.blob-2 {
  width: 800px;
  height: 800px;
  background-color: #00ff80; 
  top: 40%;
  right: 5%;
}